body {
	margin: 0;
	padding: 0;
	text-align: center;
}

small {
	font-weight: bold;
}

#order {
	background-color: #eee;
}

.row {
	margin: 1em 0;
}

ul {
	text-align: left;
	list-style-type:none;
	padding:0;
	margin:0;
}

li.restaurant > .name {
	display:block;
	color:#999;
	border-bottom:1px solid #666;
	font-weight:400;
	font-size:0.8em;
	padding-left: 0.5em;
}

li.item {
	padding:0.5em;
	margin:0.5em 0;
	text-align:right;
}

li.item dt {
	clear:left;
}

li.item > .name {
	float:left;
	padding-left: 1em;
	font-weight: bold;
}

li.item .options dd .name:after {
	content: ',\0000a0'
}

li.item .options dd .name:last-of-type:after {
    content:''
}

li.item .subtotal, li.item .quantity, li.item .total {
	display:inline-block;
	margin-left:0.5em;
	font-size:0.8em;
	font-weight:300;
}

li.item .quantity:before {
	content:'\00D7\00a0';
}

li.item .total {
	font-size:1em;
	font-weight:bold;
}

li.item dt, li.item dl {
	text-align: left;
}

li.item .options {
	margin-left: 3em;
}